<div class="layout">
  <div class="left">
    <app-group-list
      [groups]="groups()"
      (selection)="onSelect($event)">
    </app-group-list>
  </div>

  <div class="right">
    <ng-container *ngIf="selectedGroup(); else placeholder">
      <app-group-view
        *ngIf="selectedGroup()"
        [group]="selectedGroup()!"
        (update)="openUpdateDialog($event)"
        (addExpense)="openAddExpense($event)"
        (updateGroup)="openGroupSettings($event)">
      </app-group-view>
    </ng-container>

    <ng-template #placeholder>
      <div class="empty">
        <h3>Select a group</h3>
        <p>Pick a group from the list to see details and actions.</p>
      </div>
    </ng-template>
  </div>
</div>
