/* Layout */
.page {
    display: flex;
    flex: 1;
    justify-content: center;
    // background: #f9fafb; // gray-50
    padding: 16px; // small padding for tiny screens
}

.card {
    width: 95%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    // background: #ffffff;
    border-radius: 16px;
    box-shadow: inset;
    border: 1px solid gray;
    padding: 24px; 
    height: fit-content;
}

.title {
    font-size: 1.25rem;
    line-height: 1.4;
    font-weight: 600;
    margin: 0 0 4px;
    color: white;
}

.note {
    font-size: 0.875rem;
    color: gray;
    margin: 0 0 16px;
}

/* Error text */
.error {
    font-size: 0.875rem; // text-sm
    color: #dc2626; // red-600
    margin-top: 8px; // mt-2
}

/* Optional: tidy spacing between form fields inside <app-form> */
app-form {
    display: block;

    app-input-field+app-input-field {
        margin-top: 12px;
    }
}