<p>Ovo je app</p>
<app-button [label]="'nije kul'" [variant]="'danger'" [size]="'medium'" (clicked)="onClick()"/>
<p></p>
<div style="width: 300px;">

    <app-input-field [label]="'label'" [required]="true" [placeholder]="'placeholder'" [type]="'text'"></app-input-field>
    <app-input-field [label]="'label'" [required]="true" [placeholder]="'placeholder'" [type]="'text'"></app-input-field>
<form (ngSubmit)="onSubmit()" #f="ngForm">
  <app-input-field
    label="Amount"
    type="number"
    [value]="'amount'"
    [required]="true"
    [showErrorWhen]="'submit'"
    [submitted]="submited()"
    errorMessage="Enter a valid amount">
  </app-input-field>

  <app-button label="Save" type="submit"></app-button>
</form>

<app-card title="Expense" subtitle="Dinner at Pizzeria" [elevation]="2">
  <p>Total: €34.50</p>
</app-card>

<app-card [elevation]="3" [bordered]="true">
  <div card-header class="card-header">
    <div class="titles">
      <h3 class="title">Create Group</h3>
      <p class="subtitle">Roommates – 2025</p>
    </div>
    <div class="actions">
      <app-button size="small" variant="secondary" label="Help"></app-button>
    </div>
  </div>

  <div>
    <app-input-field label="Group name" [required]="true"></app-input-field>
  </div>

  <div card-footer>
    <app-button variant="secondary" label="Cancel"></app-button>
    <app-button variant="primary" label="Create"></app-button>
  </div>
</app-card>
<app-card-list
  [loading]="false"
  [skeletonCount]="8"
  minColumnWidth="260px"
  [clickable]="true"
  trackByKey="id">

  <!-- Each item rendering -->
  <ng-template #item let-expense let-i="index">
    <app-card [elevation]="2" [bordered]="true"  >
      <div card-header class="card-header">
        <div class="titles">
          <h3 class="title">{{ expense.title }}</h3>
          <p class="subtitle">by {{ expense.owner }} • {{ expense.date}}</p>
        </div>
        <div class="actions">
          <app-button size="small" variant="secondary" label="Details"></app-button>
        </div>
      </div>

      <div>
        <strong>{{ expense.total}}</strong>
        · {{ expense.participants.length }} participants
      </div>

      <div card-footer>
        <app-button size="small" variant="primary" label="Open"></app-button>
      </div>
    </app-card>
  </ng-template>

  <!-- Optional custom empty -->
  <ng-template #empty>
    <div class="state state-empty">No expenses yet. Create your first one!</div>
  </ng-template>
</app-card-list>

